*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #000;
  --title-text-color: #212121;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --active-button-color: #188ce8;
  --primary-background-color: #fff;
  --main-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: var(--primary-background-color);
  max-width: 1600px;
}

/* header section */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.logo .studio-header {
  color: var(--secondary-text-color);
}
.site-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.site-nav a:hover,
.site-nav a:focus,
.contacts a:hover,
.contacts a:focus,
.site-nav .active,
.address-contact:hover,
.address-contact:focus {
  color: var(--accent-color);
}
.contacts-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

/* main sections*/
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}
/* buttons */
button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--main-background-color);
}

button:hover,
button:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* hero section */
.hero-section {
  background-color: var(--footer-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--primary-background-color);
}
.button.hero {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--primary-background-color);
  background-color: var(--accent-color);
}
.button.hero:hover,
.button.hero:focus {
  background-color: var(--active-button-color);
}

/* advantages section */
.advantage-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.advantage-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* our team section */
.team {
  background-color: var(--main-background-color);
}
.member-card {
  background-color: var(--primary-background-color);
}
.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.member-profile {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* portfolio */
/* filter */
/* prewiev */
.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.project-tag {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* footer section */
.page-footer {
  background-color: var(--footer-background-color);
}

.logo .studio-footer {
  color: white;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link {
  color: white;
}
.address-contact {
  color: var(--address-text-color);
}
